@use "./variable.scss" as *;

html,
body {
  font-family: $text-font;
  max-width: 100vw;
  height: 100vh;
  font-size: 62.5%;
  background-color: $first-background-color;
  user-select: none;
  text-rendering: optimizeSpeed;

  overflow-x: hidden;
  overflow-y: auto;

  scrollbar-width: thin;
  scrollbar-color: $scrollbar-thumb-color white;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb-color;
    border-radius: 8px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: none;
}

button,
input {
  outline: none;
  border: none;
  background-color: transparent;
}

a {
  font-style: normal;
  text-decoration: none;
  color: inherit;
}
