@use "./variable.scss" as *;

.container {
  height: 100%;
  min-width: 480px;
  display: flex;

  overflow-x: hidden;
  overflow-y: auto;

  scrollbar-width: thin;
  scrollbar-color: $scrollbar-thumb-color white;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb-color;
    border-radius: 8px;
  }
}

.side-bar {
  flex: 1;
  padding: 24px;
  display: flex;
  flex-direction: column;
  background-color: $second-background-color;
  box-shadow: 5px 0px 10px 0px rgba(59, 30, 2, 0.3);
}

.content {
  flex: 2;
  padding: 24px;
}
