@use "./variable.scss" as *;

.container {
  height: 100%;
  min-width: 480px;
  display: flex;

  overflow-x: hidden;
  overflow-y: auto;

  scrollbar-width: thin;
  scrollbar-color: $scrollbar-thumb-color white;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb-color;
    border-radius: 8px;
  }
}

.side-bar {
  flex: 1;
  padding: 24px;
  display: flex;
  flex-direction: column;
  background-color: $second-background-color;
  box-shadow: 5px 0px 10px 0px rgba(59, 30, 2, 0.3);
}

.board {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 60px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}

.img {
  width: 35px;
  height: 45px;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: $filter-img;
}

.link {
  flex: 1;
}

.introduce {
  font-size: 1.6rem;
  color: $second-text-color;
  margin: 0 36px;
}

.avatar {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-frame {
  width: 100%;
  max-width: 340px;
  height: 340px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: $third-shadow;
}

.img-box {
  width: 320px;
  height: 320px;
  border-radius: 999px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 999px;
  filter: $filter-img;
}

.desc {
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.professional-title {
  color: $second-text-color;
  font-size: 3.8rem;
  text-align: center;
  text-shadow: $text-shadow;
}

.international-name {
  color: $second-text-color;
  font-size: 3rem;
  text-align: center;
  text-shadow: $text-shadow;
}

.skills,
.social,
.contact {
  width: 100%;
  height: 95px;
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $corner-radius;
  position: relative;
  box-shadow: $second-shadow;
}

.skill-box {
  width: 50px;
  height: 50px;
  border-radius: 999px;
  margin: 0 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $third-background-color;
  box-shadow: $third-shadow;
}

.skill-name {
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -16px;
  left: 18px;
  z-index: 10;
  background-color: $third-background-color;
  border-radius: $corner-radius;
  box-shadow: $third-shadow;
}

.name {
  font-size: 1.8rem;
  color: $second-text-color;
  text-shadow: $text-shadow;
}

.skill {
  width: 25px;
  height: 25px;
}

.skill-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: $filter-img;
}

.content {
  flex: 2;
  padding: 24px;
}

@media (max-width: 1280px) {
  .container {
    flex-direction: column;
  }

  .side-bar {
    padding: 24px 24px 0 24px;
    box-shadow: 0px 5px 10px 0px rgba(59, 30, 2, 0.4);
  }

  .header {
    margin: 0;
    height: 140px;
    align-items: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .img {
    width: 65px;
    height: 75px;
  }

  .language {
    position: absolute;
    top: 0;
    right: 0;
  }

  .link {
    flex: unset;
  }

  .introduce {
    position: absolute;
    margin: 0;
    bottom: 12px;
    right: 24px;
  }

  .board {
    height: 430px;
    background-color: $first-background-color;
    border-top-left-radius: $corner-radius;
    border-top-right-radius: $corner-radius;
  }

  .avatar {
    height: 40px;
    padding: 0 24px;
    box-shadow: $gap-shadow;
    border-top-left-radius: $corner-radius;
    border-top-right-radius: $corner-radius;
    display: block;
    position: relative;
  }

  .img-frame {
    width: 180px;
    height: 180px;
    position: absolute;
    top: -93px;
    left: 24px;
    box-shadow: $first-shadow;
  }

  .img-box {
    width: 160px;
    height: 160px;
  }

  .desc {
    display: block;
    position: absolute;
    bottom: 20px;
    height: 60px;
  }

  .international-name,
  .professional-title {
    text-align: unset;
    color: $first-text-color;
  }

  .professional-title {
    font-size: 2.4rem;
  }

  .international-name {
    font-size: 1.8rem;
  }

  .skills,
  .social,
  .contact {
    width: 100%;
    max-width: calc(100% - 12px);
    height: 80px;
    margin-top: 6px;
    padding: 0 24px;
    font-size: 1.8rem;
    color: $first-text-color;
    margin: 0 auto;
  }

  .contact {
    margin-bottom: 12px;
  }

  .skill-name {
    background-color: rgba(92, 65, 39, 1);
  }

  .skill-box {
    box-shadow: 0px 0px 8px rgba(92, 65, 39, 0.7);
    background-color: unset;
  }
}

@media (max-width: 640px) {
  .skill-box {
    width: 40px;
    height: 40px;
    box-shadow: 0px 0px 8px rgba(92, 65, 39, 0.7);
  }
}
