$text-font: "Roboto", sans-serif;

$first-text-color: #1a0d01;
$second-text-color: rgba(230, 230, 230, 0.8);

$first-background-color: #e6e6e6;
$second-background-color: #1a0d01;
$third-background-color: rgb(91 77 64);

$first-shadow: 0px 5px 12px rgb(92 65 39 / 30%);
$second-shadow: 0px 0px 14px rgba(92, 65, 39, 0.5);
$third-shadow: 0px 0px 20px rgba(92, 65, 39, 0.8);
$gap-shadow: 0px -5px 5px rgb(92 65 39 / 70%);
$text-shadow: 3px 4px 4px rgba(104, 90, 78, 0.6);

$filter-img: drop-shadow(0px 0px 3px rgba(187, 169, 152, 0.6));

$corner-radius: 15px;

$scrollbar-thumb-color: rgb(165, 165, 165);

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf") format("ttf"),
    url("/fonts/Roboto-Regular.ttf") format("ttf"),
    url("/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Medium.ttf") format("ttf"),
    url("/fonts/Roboto-Medium.ttf") format("ttf"),
    url("/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Bold.ttf") format("ttf"),
    url("/fonts/Roboto-Bold.ttf") format("ttf"),
    url("/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Black.ttf") format("ttf"),
    url("/fonts/Roboto-Black.ttf") format("ttf"),
    url("/fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
}
