@use "./variable.scss" as *;

.wrapper {
  width: 100%;
  padding: 12px;
  background-color: $primary-bg-dark;
  box-shadow: $primary-blend-shadow;

  .header {
    width: 100%;
    height: 60px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;

    .logo-img {
      width: 35px;
      height: 45px;

      .logo {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: $filter-img;
      }
    }

    .link {
      flex: 1;

      .introduce {
        font-size: 1.6rem;
        color: $secondary-text-color;
        margin: 0 36px;
      }
    }
  }

  .avatar {
    display: flex;
    flex-direction: column;
    align-items: center;

    .avatar-frame {
      width: 340px;
      height: 340px;
      display: flex;
      align-items: center;
      justify-content: center;

      .avatar-box {
        width: 320px;
        height: 320px;
        @include depthShadow();

        .avatar-img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 999px;
          filter: $filter-img;
        }
      }
    }

    .desc {
      height: 167px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .professional-title {
        color: $secondary-text-color;
        font-size: 3.8rem;
        text-align: center;
        text-shadow: $text-shadow;
      }

      .international-name {
        color: $secondary-text-color;
        font-size: 3rem;
        text-align: center;
        text-shadow: $text-shadow;
      }
    }
  }

  .board {
    height: 354px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .skills,
    .social,
    .contact {
      flex: 1;
      margin-top: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: $primary-radius;
      box-shadow: $secondary-gap-shadow;
      position: relative;

      .heading {
        padding: 0 12px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -16px;
        left: 18px;
        z-index: 10;
        background-color: rgba(92, 65, 39, 1);
        border-radius: $primary-radius;
        border: $primary-border;

        .title {
          font-size: 1.8rem;
          color: $secondary-text-color;
        }
      }

      .box {
        width: 50px;
        height: 50px;
        margin: 0 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include frameShadow();

        .img {
          width: 25px;
          height: 25px;
          object-fit: cover;
          filter: $filter-img;
        }
      }

      .btn-box {
        width: 180px;
        border-radius: $secondary-radius;
        @include contactShadow();
        overflow: hidden;

        .btn {
          padding: 10px 28px;
          border-radius: $secondary-radius;
          cursor: pointer;
          border: 4px solid transparent;
          @include contactShadow();
          transition: all 0.2s ease;
          position: relative;

          &:hover {
            @include neonShadow($button-bg);
            transition-delay: 1.2s;
          }

          .animate {
            position: absolute;
            z-index: 100;

            &:nth-child(1) {
              top: -4px;
              left: -103%;
              width: 100%;
              height: 4px;
              background: linear-gradient(
                90deg,
                transparent,
                lighten($button-bg, 35%)
              );
            }

            &:nth-child(3) {
              bottom: -4px;
              right: -103%;
              width: 100%;
              height: 4px;
              background: linear-gradient(
                270deg,
                transparent,
                lighten($button-bg, 35%)
              );
            }

            &:nth-child(2) {
              top: -105%;
              right: -4px;
              width: 4px;
              height: 100%;
              background: linear-gradient(
                180deg,
                transparent,
                lighten($button-bg, 35%)
              );
            }

            &:nth-child(4) {
              bottom: -110%;
              left: -4px;
              width: 4px;
              height: 100%;
              background: linear-gradient(
                360deg,
                transparent,
                lighten($button-bg, 35%)
              );
            }
          }

          &:hover .animate:nth-child(1) {
            left: 103%;
            transition: 1s;
          }

          &:hover .animate:nth-child(3) {
            right: 103%;
            transition: 1s;
            transition-delay: 0.5s;
          }

          &:hover .animate:nth-child(2) {
            top: 105%;
            transition: 1s;
            transition-delay: 0.25s;
          }
          &:hover .animate:nth-child(4) {
            bottom: 110%;
            transition: 1s;
            transition-delay: 0.75s;
          }

          .click {
            color: $secondary-text-color;
            font-size: 1.8rem;

            &:hover {
              text-shadow: $text-shadow;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .wrapper {
    width: 100%;
    height: 100%;
    padding: 0;

    .header {
      margin: 0;
      height: 140px;
      align-items: unset;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      .logo-img {
        width: 65px;
        height: 75px;
      }

      .link {
        flex: unset;

        .introduce {
          position: absolute;
          margin: 0;
          bottom: 12px;
          right: 24px;
        }
      }

      .language {
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    .avatar {
      height: 120px;
      padding: 0 24px;
      margin-bottom: 24px;
      box-shadow: $primary-gap-shadow;
      border-top-left-radius: $primary-radius;
      border-top-right-radius: $primary-radius;
      display: block;
      position: relative;

      .avatar-frame {
        width: 180px;
        height: 180px;
        position: absolute;
        top: -93px;
        left: 24px;

        .avatar-box {
          width: 160px;
          height: 160px;
        }
      }

      .desc {
        display: block;
        position: absolute;
        bottom: 30px;
        left: 210px;
        height: 60px;
        margin: 0 12px;

        .international-name,
        .professional-title {
          text-align: unset;
        }

        .professional-title {
          font-size: clamp(2rem, 3.5vw, 2.4rem);
        }

        .international-name {
          font-size: clamp(1.4rem, 2.5vw, 1.8rem);
        }
      }
    }

    .board {
      width: 100%;
      border-top-left-radius: $primary-radius;
      border-top-right-radius: $primary-radius;

      .skills,
      .social,
      .contact {
        width: 100%;
        height: 80px;
        margin-top: 6px;
        padding: 0 24px;
        font-size: 1.8rem;
        border-radius: unset;
        color: $primary-text-color;
        margin: 0 auto;
      }

      .social,
      .contact {
        margin-top: 24px;
      }
    }
  }
}

@media (max-width: 530px) {
  .wrapper {
    .board {
      .skills,
      .social,
      .contact {
        .box {
          width: 43px;
          height: 43px;

          .img {
            width: 23px;
            height: 23px;
          }
        }
      }
    }
  }
}
